  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@500&family=Roboto:wght@500&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  /* overflow-x: hidden; */
}
body{
 width: 99vw; 
}
.galleryImg{
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}
.youtube{
  padding: 0px;
}
.navbar{
  background-color: white;
  z-index: 1;
  display: flex;
  padding: 5px;
  width: 100%; 
}
.navbar img{
  width: 45px;
}
.welcomeRemark p{
  font-family: 'Roboto', sans-serif;
  margin-left: 1.7rem;
  width: 43%;
  margin-top: 1.3rem;
}
.aboutUsTextAndImage{
  font-family: 'Roboto', sans-serif;
  display: flex;
  margin: auto;
  margin-top: 10%;
  width: 80%;
}
 h2{
  font-family: 'Roboto Serif', serif;
  font-weight: 500;
  margin-left: 20%;
  font-size: 2.1rem;
}

.contactUsHeader h2{
  margin: auto;
padding: 25px;
width: fit-content;
}
.aboutUsTextAndImage img{
  width: 75%;
}
header{
  font-family: 'Roboto Serif', serif;
  font-weight: bolder;
  margin: auto;
}
h4{
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}
.aboutUsHeaderAndText h2{
  width: fit-content;
  margin: auto;
}
 .map{
  position: relative;
  width: 90%;
  margin: auto;
  /* height: 30px; */
 }
 .home{
  text-decoration: none;
  color: #000000;
  margin: 10px;
 }
 .aboutUs{
  text-decoration: none;
  color: #000000;
  margin: 10px;
 }
 .link{
  font-family: 'Roboto Serif', serif;
  margin-top: auto;
  margin-bottom:auto ;
  margin-left: 2%;
  padding: 3px;
 }
 .home:hover{
  border-bottom: 2px solid #FB8500;
 color: #FB8500;
 
 }
 .aboutUs:hover{
  color: #FB8500;
 border-bottom: 2px solid #FB8500 ;
  }
  .img{
    width: 100%;
  }
  .img2{
    width: 180%;

  }
 .iframeBackground {
  color: white;
  justify-content: space-between;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  background: #FB8500B2;
}
.header {
  margin-top: 40%;
  margin-left: 10%;
}
.Teachers{
  display: flex;
}
section{
  overflow-y: auto;
  /* width: 10rem; */
}
.MeetUs{
  width: 80%;
  margin-top: 15%;
  margin-left: 15px;
  margin-right: auto;
  overflow: auto;
}
.MeetUs h2{
  width: fit-content;
  margin: auto;
}
.allUsers{
  margin-bottom: 20px;
  width: 100%;
}
section .Teens{
  margin: 15px;
  overflow-x: auto;
  width: fit-content;
}
section .Teachers{
  margin: 15px;
  overflow-x: auto;
  width: fit-content;
}
 .Teachers{
  display: flex;
}
.Teens{
  display: flex;
}
.teacherProfile{
  margin: 10px;
  width: 17rem;
}
.textAboutTeacher{
  padding: 7px;
}
.teacherProfile div{
  margin: auto;
  /* width: 35rem; */
}
.teacherProfile img{
  height: 8rem;
}
.teacherProfile p{
width: 90%;
}
.detailS{
  margin-left: 10%;
  width: 150px;
}
.allUsers h3{
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  text-align: center;
}
.galleryImg{
  position: relative;
}
.galleryBackground{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0.5); /* Replace with your desired color and opacity */
  z-index: 1;
}
.contactDetails{
  width: 100%;
  justify-content: space-between;
}
.message {
  margin: 10px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 100px;
  margin-top: 5%;
  margin-left: 5%;
  width:89% ;
  border: 0;
  /* height: 100px; */
  box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  outline: none;
}
.contactDetails input{
  padding: 10px;
  margin-top: 5%;
  margin-left: 5%;
  margin-top: 3%;
  width:39% ;
  border: 0;
  border-radius: 5px;
  outline: none;
}
input{
  box-shadow: 0.5px 0.2px 0.4px 0.4px rgba(0, 0, 0, 0.5);
}
.aboutUsTextAndImage p{
  margin: auto;
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
  text-align: center;
}
.aboutUsHeaderAndText{
  width: 80%;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #000000; */
}

iframe{
  margin: auto;
  background-color: #000000;
}
.welcomeRemark h1{
  font-size: 3rem;
  font-family: 'Roboto Serif', serif;
  margin-top: 10%;
  margin-left:1.5rem ;
  font-weight: 500;
}
button{
  margin: 3% 5%;
  padding: 11px 21px;
  border-radius: 5px;
  border: 0;
  background: #023047;
  color: white;
}
footer{
  width: 100vw;
  background-color:#023047 ;
  padding: 25px;
}
.footerName{
  color: white;
}
footer:hover{
  cursor: pointer;
}

.footerNameAndLogo{
  display: flex;
  width: 15rem;
  margin: auto;
  padding: 10px;
}
.footerNameAndLogo img{
  background-color: white;
  border-radius: 30%;
  width: 30px;
}
.footerName{
  padding: 5px;
}
.nameAndIconsDiv{
  margin: auto;
}
.icons{
  width: 8rem;
  margin: auto;
  justify-content: center;
}
.icons img{
  border-radius: 30%;
  background: white;
  width: 25px;
  margin: 3px;
}
button:hover{
  cursor: pointer;
  background-color: #FB8500;
  ;
}
.logoWithWriteUp{
  display: flex;
  width: 30%;
  margin-left: 10px;
}
.logoWithWriteUp p{
  padding: 10px;
}
.logoName{
  width: 80%;
  margin: auto;
  color: #000000;
  font-weight: 500;
}
.kidImage{
  width: 51%;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  margin-left:auto ;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
@media screen and (min-width:801px) and (max-width:995px) {
  .navbar{
    background-color: white;
    z-index: 1;
    display: flex;
    padding: 5px;
    width: 100%; 
  }
  .navbar p{
    display: none;
  }
  .home{
    margin: 3px;
  }
  .logoWithWriteUp{
    width: fit-content;
  }
}
 @media screen and (max-width:800px) {
 section{
  overflow: auto;
  height: 25rem;  
  width: fit-content;
}
 .Teachers{
  display: flex;
  flex-direction: column;
}
.Teens{
  display: flex;
  flex-direction: column;
}
.teacherProfile{
  /* margin: auto; */
  
  align-items: center;
}
.teacherProfile img{
margin: auto;
position: relative;
}
  .kidImage{
    width: 50%;
  }
  .aboutUsTextAndImage{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
    width: 80%;
  }
  .aboutUsTextAndImage img{
   margin: auto;
   width: 85%;
  }
  .aboutUsTextAndImage h2{
   margin: auto;
  }
  .aboutUsTextAndImage p{
    margin-left: 0px;
    width: 100%;
  }
  .navbar{
    background-color: white;
    z-index: 1;
    display: flex;
    padding: 5px;
    width: 100%; 
  }
  .navbar p{
    display: none;
  }
  .iframeBackground{
    width: 100%;
  }
  .logoWithWriteUp{
    width: fit-content;
  }
  .home{
    margin: 3px;
  }
  .footerNav{
    width: 100vw;
  }
  button{
    margin: 3% 5%;
    padding: 11px 21px;
    border-radius: 5px;
    border: 0;
    background: #023047;
    color: white;
  }
  .contactDetails{
    display: flex;
    flex-direction: column;
  }
  .contactDetails input{
    width: 70%;
  }
  .number{
    margin: 10px;
  }
  .map{
    width: 100%;
  }
 }


 @media screen and (max-width:515px) {
  .navbar{
    padding: 0px;
    position: relative;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.34);
  }
  .logoWithWriteUp{
    margin: 0px;
    background-color: white;
  }
  .logoWithWriteUp img{
   padding: 0px;
  }
  .logoWithWriteUp p{
    padding: 1px;
    display: block;
  }
  .kidImage{
    padding: 0px;
    width: 53%;
  }
  .logoName{
    font-size: 14px;
  }
  h1{
    font-size:20px;
  }
  .home{
    color: white;
  }
  .aboutUs{
    color: white;

  }
  .welcomeRemark h1{
    font-size: 1.9rem;
  }
  .link{
    font-size: 14px;
    width: fit-content;
  }
 }